# Python
__pycache__/
*.py[cod]
*$py.class
env/
venv/
ENV/
.env

# Django
db.sqlite3
anemia/media/*
!anemia/media/.gitkeep
anemia/modelos_guardados/*
!anemia/modelos_guardados/.gitkeep

# Other
anemia/matriz_confusion.png

